<%- include('../partials/header') %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Flight</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h2>Create a New Ticket</h2>
    <form class="newTicket" action="/tickets" method="POST">
        <label>Seat: (must be A1-F99)
            <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
        </label><br>
        <label>Price:
            <input type="text" name="price">
        <label>Flight:
            
        </label>
        <input type="submit" value="Add Ticket">
    </form>
<%- include('../partials/footer') %>